.card_post{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.card_items{
    border:2px solid rgb(40, 40, 55);
    gap:1rem;
    width:35rem;
    display: flex;
    flex-direction: column;
    margin:0.5rem;
    align-items: center;
    box-shadow: 0.3rem 0.5rem 0.8rem black;
}
 
img{
    width:20rem;
    height: 20rem;
    }
@media (max-width: 768px) {
    .card_post > div {
        width: calc(50% - 1rem)
    }
}